.section {
  padding: 80px var(--content-padding, 128px) 0;
}

.title {
  font-weight: 700;
  font-size: 96px;
  line-height: 120%;
  color: #0153FF;
  letter-spacing: -0.05em;
}

.titleLink {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  color: inherit;
}
